/*Configuracion global de CSS*/
/*Selector universal*/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px 
}

/*Selector por etiqueta*/

header {
    background: #23376D;
    text-align: center;
    color: white;
    padding: 10px;
}

footer {
    background-color: #23376D;
    text-align: center;
    color: white;
    line-height: 50px;
    bottom: 0px;
    position: fixed;
    width: 100%;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #7d0a42;
}

footer a {
    color: aliceblue;
}

/*Selector por Id*/
#contenido {
    border: 2px #23376D;
    padding: 10px;
}

#principal {
    margin-left: 25%;
} 

#descripcion {
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    margin: 15px;
}

#menu {
    background-color: #eee;
}

#menu ul li {
    display: block;
    float: left;
    border-right: 2px solid #23376D;
}

#menu ul li a {
    display: block;
    padding: 15px;
    color: #444;
}

#menu ul li:hover{
    background: rgb(16, 75, 143);
    cursor: pointer;
}

#menu ul li:hover a {
    color: white;
}

#contenido table {
    margin: auto;
}

#contenido h2 {
    text-align: center;
    color: cornflowerblue;
    margin: 10px;
}

#contenido form {
    border: 3px solid blue;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}

#contenido form * {
    display: inline-block;
}

input[type="text"], select {
    margin-bottom: 15px;
    padding: 10px;
    width: 300px;
}

input[type="submit"], button{
    background: #7d0a42;
    color: white;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid black;
    cursor: pointer;
}

/*Diseno de Contactos*/
#contenido_contacto h2 {
    text-align: center;
    color: cornflowerblue;
    margin: 10px;
}

*{box-sizing:border-box;}

#contenido_contacto form {
	width:350px;
	padding:20px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

#contenido_contacto form label{
	width:90px;
	font-weight:bold;
	display:inline-block;
}

#contenido_contacto form input[type="text"],
#contenido_contacto form[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

#contenido_contacto form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

#contenido_contacto form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}


/*Selector por clase*/

.clearFix {
    float: none;
    clear: both;
}